.footer
    .grid
      .grid__row
        .grid__column-2-4
          h3.footer__heading Chăm sóc khách hàng
          ul.footer-list
            li.footer-item
              a.footer-item__link(href='') Trung tâm trợ giúp
            li.footer-item
              a.footer-item__link(href='') Shop Mall
            li.footer-item
              a.footer-item__link(href='') Hướng dẫn mua hàng
        .grid__column-2-4
          h3.footer__heading Giới thiệu
          ul.footer-list
            li.footer-item
              a.footer-item__link(href='') Giới thiệu
            li.footer-item
              a.footer-item__link(href='') Tuyển dụng
            li.footer-item
              a.footer-item__link(href='') Điều khoản
        .grid__column-2-4
          h3.footer__heading Danh mục
          ul.footer-list
            li.footer-item
              a.footer-item__link(href='') Thời trang nữ
            li.footer-item
              a.footer-item__link(href='') Thời trang nam
            li.footer-item
              a.footer-item__link(href='') Thời trang trẻ em
        .grid__column-2-4
          h3.footer__heading Theo dõi
          ul.footer-list
            li.footer-item
              i.footer-item__icon.fab.fa-facebook
              |                                 Facebook
              a.footer-item__link(href='')
            li.footer-item
              i.footer-item__icon.fab.fa-instagram
              |                                 Instagram
              a.footer-item__link(href='')
            li.footer-item
              i.footer-item__icon.fab.fa-linkedin
              |                                 Linkedin
              a.footer-item__link(href='')
        .grid__column-2-4
          h3.footer__heading Vào cửa hàng trên ứng dụng
          .footer__download
            img.footer__download-qr(src='./images/qr_code.png', alt='QR')
            .footer__download-apps
              a.footer__download-app-link(href='')
                img.footer__download-app-img(src='./images/google_play.png', alt='Google Play')
              a.footer__download-app-link(href='')
                img.footer__download-app-img(src='./images/app_store.png', alt='App Store')
    .footer__bottom
      .grid
        p.footer__text &copy; 2022 - Bản quyền thuộc về Min